{{>partial_header}}
package handler

import "net/http"
{{#apiInfo}}{{#apis}}
type {{classname}}Handler interface { {{#operations}}{{#operation}}
	{{operationId}}() http.HandlerFunc{{/operation}}{{/operations}}
}
{{/apis}}{{/apiInfo}}